<div class="container">
    <div class="row profile">
        <div class="col-sm-3">
            <div class="row">
                <div class="col-xs-7 col-sm-12">
                    <img ng-cloak src="{{user.gravatar}}" class="img-thumbnail margin-10">
                </div>
                <div class="col-xs-5 col-sm-12">
                    <h3>General Information</h3>
                    <ul class="profile-details">
                        <li>
                            <b>Username <span class="glyphicon glyphicon-user" aria-hidden="true"></span></b>
                            <div>{{user.username}}</div>
                        </li>
                        <li>
                            <b>Email <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span></b>
                            <div>
                                <a ng-href="mailto:{{user.email}}">
                                     {{user.email}}
                                </a>
                            </div>
                        </li>
                    </ul>
                    <h3>Bio</h3>
                    <span class="glyphicon glyphicon-book"></span>
                    <button class="btn btn-default" ng-show="yourpage" ng-click="showBioForm()">Edit Bio</button>
                    <p>{{user.bio || "No Current Bio"}}</p>
                    <form ng-show="bioForm" ng-submit="submitBio()">
                        <div class="form-group">
                            <label for="bio">Edit Bio</label>
                            <textarea class="form-control" id="bio" placeholder="{{user.bio}}" rows="2" ng-model="user.bio"></textarea>
                        </div>
                        <button type="submit" class="btn btn-success">Submit Bio</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-sm-9">
            <div class="tabbable margin-bottom-15px">
                <ul class="nav nav-tabs">
                    <li role="presentation" ng-init="selected=1" ng-click="selected=1; switchShowValuesForCommentsAndQuestions('question')" ng-class="{'active': selected ==1}">
                        <a ng-href="#/users/{{paramId}}">Questions</a>
                    </li>
                    <li role="presentation" ng-click="selected=2; switchShowValuesForCommentsAndQuestions('comment')" ng-class="{'active': selected==2}">
                        <a href="#/users/{{paramId}}">Comments</a>
                    </li>
                </ul>
            </div>
            <div id="questions" ng-cloak ng-show="showQuestions">
                <div ng-repeat="question in questions">
                    <div class="panel panel-default">
                        <div class="panel-heading">{{question.title}}
                        <span class="pull-right">{{moment(question.created_at).fromNow()}}</span></div>
                        <div class="panel-body">
                            {{question.body}}
                        </div>
                    </div>
                </div>
            </div>
            <div id="comments" ng-cloak ng-show="showComments">
                <div ng-repeat="comment in comments">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            {{comment.body}}
                        </div>
                    </div>
                </div>
            </div>
            <!-- <div class="well lg-well">
                <div class="text-center">
                    <a class="btn btn-success btn-lg" href="#/questions">Have A Question, Sir/Madam?</a>
                </div>
            </div> -->
        </div>
    </div>
</div>
<br>